*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:1250px;
	margin-left:auto;
	margin-right:auto;
	padding-left:15px;
	padding-right:15px;
	font-family: 'Raleway', sans-serif;
	/* font-family: 'Poppins', sans-serif; */
}
.flex-container{
	display:flex;
	flex-wrap:wrap;
	margin-left:-15px;
	margin-right:-15px;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-1{
	width:8.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-2{
	width:16.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-3{
	width:25%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-4{
	width:33.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-5{
	width:41.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-6{
	width:50%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-7{
	width:58.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-8{
	width:66.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-9{
	width:75%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-10{
	width:83.33%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-11{
	width:91.66%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}
.flex-items-12{
	width:100%;
	flex:0 0 auto;
	padding-left:15px;
	padding-right:15px;
}

			/* header section */
.header{
	margin:10px 0px;
}
.linked-in{
	display:flex;
}
.search_box input{
	width:300px;
	height:30px;
	margin-left:10px;
	background-color:#0000ff05;
	padding-left:30px;
	position:relative;
	border-radius:5px;
	border:none;
} 
.search_box i{
	position:absolute;
	top:15px;
	left:130px;
}
.nav-bar{
	 justify-content:space-evenly; 
	border-right:1px solid gray;
	
	
}
.nav p{
	font-size:14px;
	
}
.nav-bar1
{
	text-align:center;
	
}
.nav-bar1 a{
	display:block;
	text-decoration:none;
	color:gray;
	font-size:10px;
} 
.nav-bar2 a{
	font-size:10px;
}
.nav-bar1 a:hover{
	color:gray;
	 text-decoration-line: underline;
}
.nav-bar1 i:hover{
	color:gray;
}
.nav_link1 p{
	font-size:10px;
}
 .nav_link{
	display:flex;
} 
.nav-bar1{
	justify-content:space-evenly;
}
/* #down1 drop_down:hover{ */
	/* border:1px solid #ccc; */
/* } */

#icon_des{
	margin-left:25px;
}
			/* next section */
.free2{
	color:brown;
	position:relative;
	font-size:12px;
	
}
.free1{
	position:absolute;
	left:40px;
	top:16px;
	text-decoration:underline;
}
.profile_sec{
	border:1px solid #8080805c;
	border-radius:10px;
	background:white;
	margin-top:20px;
}
.profile img{
	border-radius:10px;
}
.profile{
	position:relative;
}
.profile i{
	font-size:70px;
	color:gray;
	position:absolute;
	top:31px;
	left:100px;
}
.profile_name{
	text-align:center;
	padding-top:40px;
}
.profile_name h4{
	text-decoration:1px solid purple underline;
	
}
.profile_name p{
	line-height:30px;
	padding-bottom:15px;
	border-bottom:1px solid #8080805c;
	color:gray;
}
.profile_info p{
	color:gray;
}
.profile_info{
	display:flex;
	justify-content:space-between;
	margin-top:15px;
	padding:0px 10px;
}
.profile-num span{
	color:blue;
}
.profile1{
	border-top:1px solid #8080805c;
	color:gray;
	border-bottom:1px solid #8080805c;
	padding:15px 10px;
}
.profile2{
	padding:15px 10px;
}
.profile1 i{
	color:#cd6e14b8;
}
.profile1 a{
	color:black;
}
.num1{
	padding-bottom:15px;
	color:blue;
}

			/* next section-2 */
.input_upload{
	border:1px solid #8080805c;
	border-radius:10px;
	background:white;
	margin-top:20px;
}
.pro_input{
	margin:15px 10px;
	display:flex;
}
.pro_input i{
	font-size:50px;
	color:gray;
}
.form_control{
	width:100%;
	height:30px;
	margin-left:10px;
	border-radius:30px;
	border-color:#8080805c;
	padding:20px;
}
#input_ele{
	padding-left:40px;
}
.upload_items{
	display:flex;
	justify-content:space-between;
	padding:10px;
	
}
.upload1 i{
	color:blue;
}
.upload1 span{
	padding-left:5px;
	color:black;
}
.upload2 i.fa{
	color:white;
	background-color:green;

}
.upload2 span{
	padding-left:5px;
	color:black;
	background-color:white;
}
.upload3 i{
	color:brown;
}
.upload3 span{
	padding-left:5px;
	color:black;
}
.upload4 i{
	color:#5b1906f0;
}
.upload4 span{
	padding-left:5px;
	color:black;
}
		/* next section3 */
.news_sec{
	border:1px solid #8080805c;
	border-radius:10px;
	padding-bottom:10px;
	background:white;
	margin-top:20px;
}
.news{
	display:flex;
	justify-content:space-between;
	padding:10px;
}

.news i{
	color:white;
	background-color:black;
	padding:0px 5px;
	border-radius:5px;
}
.news1 li{
	padding-left:10px;
}
.news1{
	padding-bottom:10px
}
.news1 a{
	text-decoration:none;
	color:black;
}
.news1 p{
	color:gray;
	padding-left:32px;
	font-size:13px;
	line-height:25px;
}
.news_show a{
	text-decoration:none;
	color:gray;
	padding-left:32px;
}
		/* final section1 */
 
  .recent{
	border:1px solid #8080805c;
	border-radius:5px;
	margin-top:12px;
	background:white;
} 
 .history p{
	 padding-left:10px;
 }

 .links i{
	padding-top:10px;
	padding-left:10px;
}   
  .recent_links{ 
	text-decoration:none;
	color:gray;
	padding-left:10px;
} 
  .newspage { 
	text-decoration:none;
	color:black;
} 
.newspara_1{
	color:gray;
	padding:10px 0px; 
	border-bottom:1px solid #8080805c;
	
} 
#show{
	color:gray;
	padding-left:30px;
	
} 
.discover a{
	text-decoration:none;
	color:gray;
	
} 
.discover{
	text-align:center;
	padding:20px 0px;
}  


.item{
	padding:0px 0px; 
	border-bottom:1px solid gray;
} 
.events{
	
	padding: 10px 10px;
}  
.events a{
	text-decoration:none;
	color:blue;
} 
.plus{
	color:black;
	float:right;
}  
 /* final section 2 */
 .sort{
	height:1px;	
	margin:7px 0px;
}
.or{
	position:relative;
	padding:10px 0px;
	
}
.sort{
	height:1px;
	width:350px;
	background-color:#ccc;
	margin:7px 0px;
	 
}
.top{
    font-size:14px;
	position:absolute;
	top:5%;
	left:75%;
	color:gray;	
	display:block;
	padding:5px 0px;
} 
.top span{
	color:black;
}
.top i{
	padding:5px;
}


/* final section3 */
.fabvey_sec{
	border:1px solid #8080805c;
	border-radius:10px;
	background:white;
}
.fabvey{
	display:flex;
	 position:relative; 
	padding:10px 10px;
}
.fabvey1 p{
	color:gray;
	padding:5px;
}
.fabvey2 i{
	position:absolute;
	right:15px;
	top:10px;
}
.solo{
	padding:0px 10px;
	padding-bottom:30px;
}
.solo2{
	display:flex;
	justify-content:space-between;
	padding:10px 10px;
}
.solo3{
	color:gray;
}
.user_report{
	display:flex;
	justify-content:space-evenly;
	padding:10px 0px;
}
.user_report a{
	text-decoration:none;
	padding-left:5px;
	color:gray;
}
.user_icon i{
	color:white;
	background-color:black;
	padding:0px 5px;
	border-radius:5px;
	margin-left:10px;
}
.user_icon{
	padding:10px 0px;
}
/*final section4  */
.privacy_sec{
	border:1px solid #8080805c;
	border-radius:10px;
	margin-top:10px;
	background:white;
}
.privacy1 p{
	text-align:right;
	padding:10px 10px;
}
.privacy1 p i{
	padding-left:5px;
}
.privacy2{
	padding:0px 15px;
	text-align:center;
	color:gray;
}
.privacy_icon{
	text-align:center;
	padding:10px 0px;
}
#ic{
	font-size:70px;
	color:gray;
}
#ic2{
	font-size:70px;
	color:blue;
}
.privacy3{
	padding:10px 10px;
	color:gray;
	font-size:20px;
	text-align:center;
}
.privacy4 button{
	text-align:center;
	padding:5px 5px;
	color:blue;
	background-color:white;
	border-radius:30px;
	height:40px;
	width:150px;
	border-color:blue;
}
.privacy4{
	text-align:center;
	margin:10px 0px;
}
/* footer */
.footer_sec{
	padding:10px 10px;
	text-align:center;
	line-height:30px;
}
.footer1 a{
	text-decoration:none;
	color:gray;
	padding:0px 10px;
}
.footer2 a{
	text-decoration:none;
	color:gray;
	padding:0px 10px;
}
.footer2 a i{
	padding-left:5px;
}
.footer3 a{
	text-decoration:none;
	color:gray;
	padding:0px 10px;
}
.footer3 a i{
	padding-left:5px;
}
.footer4 a{
	text-decoration:none;
	color:gray;
	padding:0px 10px;
}
.footer4 a i{
	padding-left:5px;
}
.footer5 a{
	text-decoration:none;
	color:blue;
}
.footer5 a span{
	color:black;
}
.body_sec{
	background-color:#0000ff05;
}

/* drop down */
 .drop_down{
	visibility:hidden;
	border:1px solid #8080805c;
	border-radius:10px;
	position:absolute;
	transition:all 0.4s ease; 
	transform:translateY(60px); 
	top:60px;
	right:10px;
	width:300px;
	height:auto;
	background-color:white;
	z-index:+1;
} 
 .nav-bar2:hover .drop_down{
	 visibility:visible;
	transform:translateY(-10px); 
} 
.nav-bar2{
	position:relative;
	transition:all 0.8s ease;
}
.nav-bar2 a{
	 display:block;
	 text-decoration:none;
}
.drop_down1{
	display:flex;
}
.drop_down1 i{
	font-size:50px;
	padding:5px;
}
.drop_down1 h4{
	padding:5px;
}
.drop_down p{
	padding:5px;
	color:gray;
}
.drop_down_btn button{
	width:100%;
	height:30px;
	border-radius:30px;
	border-color:blue;
	color:blue;
	background-color:white;
	margin:5px;
}
.drop_down_btn{
	padding:5px;
	border-bottom:1px solid #8080805c;
}
.drop_down2{
	padding:5px;
	border-bottom:1px solid #8080805c;
}
.drop_drop2 h4{
	padding:5px;
}
.drop_down2 i{
	color:#cd6e14b8;
}
.drop_down2 i span{
	color:gray;
	padding-left:5px;
}
.drop_down3{
	padding:5px;
	border-bottom:1px solid #8080805c;
}
/* .drop_down4 a{ */
	/* padding:15px 10px; */
	/* color:gray; */
	/* text-decoration:none; */
	
/* } */
.drop_down4{
	margin:10px 0px;
}
button{
	border:none;
	background-color:white;
}